@mixin common ($a, $b, $c, $d, $e, $f) {
  display: flex;
  flex-direction: $a;
  justify-content: $b;
  align-items: $c;
  width: $d;
  height: $e;
  background-color: $f;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include common(row, center, center, 100%, 100vh, #3c6e71);
  #root {
    @include common(column, center, center, 100%, 100vh, #3c6e71);
    color: black;

  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
